.search-bar {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgba(209, 215, 219,0.2);;
    flex-shrink: 0;
}

.wrapper {
    width: 100%;
    height: 35px;
    background-color: rgb(32, 44, 51);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search-button{
    color:rgb(209, 215, 219);
}
.input {
    background: transparent;
    border: 0;
    color:rgb(209, 215, 219);
    font-size: 15px;
    font-weight: 100;
    outline: 0px solid transparent;
    width: 90%;
}