@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html{
  font-size: 1px;
}

h1{
  font-size: 50rem;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: row;
}

/*positions*/
.pos-a{
  position: absolute;
}
.pos-r{
  position: relative;
}
.pos-f{
  position: fixed;
}

/*height and width*/
.w-100vw{
  width: 100vw;
}
.w-50p{
  width: 50%;
}
.w-90p{
  width: 90%;
}
.w-100p{
  width: 100%;
}
.w-40{
  width: 40rem;
}
.w-49{
  width: 49rem;
}
.w-72{
  width: 72rem;
}
.w-77{
  width: 77rem;
}

.w-f-c {
  width: fit-content;
}

.h-100vh{
  height: 100vh;
}
.h-30p{
  height: 30%;
}
.h-49{
  height: 49rem;
}
.h-100p{
  height: 100%; 
}
.h-35{
  height: 35rem;
}
.h-40{
  height: 40rem;
}
.h-48{
  height: 48rem;
}
.h-60{
  height: 60rem;
}
.h-66{
  height: 66rem;
}
.h-72{
  height: 72rem;
}
.h-f-c{
  height: fit-content;
}


/*display*/
.disp-f {
  display: flex;
}
.disp-b {
  display: block;
}
.disp-wkb{
  display: -webkit-box;
}

/*flex*/
.fd-row{
  flex-direction: row;
}
.fd-row-r{
  flex-direction: row-reverse;
}
.fd-col{
  flex-direction: column;
}
.fd-col-r{
  flex-direction: column-reverse;
}
.fb-100p{
  flex-basis: 100%;
}
.fg-1 {
  flex-grow: 1;
}
.fg-2 {
  flex-grow: 2;
}
.fs-0 {
  flex-shrink: 0;
}
.j-c-c {
  justify-content: center;
}
.j-c-sb {
  justify-content: space-between;
}
.j-c-sa {
  justify-content: space-around;
}
.j-c-fe{
  justify-content: flex-end;
}
.a-i-c {
  align-items: center;
}


/*max-width*/
.mx-w-40p {
  max-width: 40%;
}
.mx-w-50p {
  max-width: 50%;
}
.mx-w-60p {
  max-width: 60%;
}
.mx-w-100p {
  max-width: 100%;
}

/*overflow*/
.oflow-v{
  overflow: visible;
}
.oflow-x-auto {
  overflow-x: auto;
}
.oflow-y-auto {
  overflow-y: auto;
}
.oflow-hide {
  overflow: hidden;
}
.oflow-s{
  overflow: scroll;
}
.t-oflow {
  text-overflow: ellipsis;
}
.oflow-w-bw{
  overflow-wrap: break-word;
}
.w-w-bw {
  word-wrap: break-word;
}

.w-s-n {
  white-space: normal;
}

/*background*/
.bg-t{
  background: transparent;
}
.bg-green {
  background: rgb(0, 92, 75);
}
.bg-c-black {
  background-color: rgba(0, 0, 0, 0.8);
}
.bg-c-modal{
  background-color: #0c1317;
}
.bgr-r-r {
  background-repeat: repeat;
}
.bg-c-gray {
  background-color: rgb(32, 44, 51);
}
.bg-c-lgray {
  background: rgb(42, 57, 66);
}

/*text*/
.tc-gray {
  color: rgba(255, 255, 255, 0.6);
}
.tc-white {
  color: white;
}
.tc-dim-white{
  color: rgb(174, 186, 193);
}
.tc-modal {
  color: rgba(233, 237, 239, 0.88);
}
.tw-nw{
  text-wrap: nowrap;
}
.ta-center{
  text-align: center;
}




.curved-box{
  border-radius: 9999rem;
}

.bt-bd-0 {
  border: 0;
}


/*fontsize*/
.f-sz-16{
  font-size: 16rem;
}
.f-sz-12{
  font-size: 12rem;
}
.f-sz-14{
  font-size: 14rem
}
.f-sz-15{
  font-size: 15rem
}
.f-sz-lg {
  font-size: large;
}

/*font weight*/
.f-wt-500{
  font-weight: 500;
}
.f-wt-400{
  font-weight: 400;
}
.f-wt-100{
  font-weight: 100;
}


/*z-index*/
.z-20{
  z-index: 20;
}
.z-10000{
  z-index: 10000;
}
.z-1000000{
  z-index: 1000000;;
}


/*border*/
.b-0{
  border: 0;
}
.b-none{
  border: none;
}

/*border radius*/
.br-5{
  border-radius: 5rem;
}
.br-10{
  border-radius: 10rem;
}
.br-20{
  border-radius: 20rem;
}
.br-50{
  border-radius: 50rem;
}
.br-50p{
  border-radius: 50%;
}
.br-9999{
  border-radius: 9999rem;
}

/*padding*/
.pad-8{
  padding: 8rem;
}
.pad-5{
  padding: 5rem;
}
.pad-10{
  padding: 10rem;
}
.pad-20{
  padding: 20rem;
}
.pad-t-0 { padding-top: 0rem; }
.pad-r-25 { padding-right: 25rem; }
.pad-r-15 { padding-right: 15rem; }
.pad-r-12 { padding-right: 12rem; }
.pad-r-5 {padding-right: 5rem; }
.pad-b-0 { padding-bottom: 0rem; }
.pad-l-20 { padding-left: 20rem; }
.pad-l-15 { padding-left: 15rem; }
.pad-l-13 { padding-left: 13rem; }
.pad-l-12 { padding-left: 12rem; }
.pad-l-9 { padding-left: 9rem; }
.pad-r-12 { padding-right: 12rem; }
.pad-t-9 {padding-top: 9rem;}
.pad-b-12 {padding-bottom: 12rem;}

.pad-t-10 { padding-top: 10rem; }
.pad-b-10 { padding-bottom: 10rem; }
.pad-l-16 { padding-left: 16rem; }
.pad-r-16 { padding-right: 16rem; }

.pad-t-5 {padding-top: 5rem;}
.pad-b-16{padding-bottom: 16rem;}
.pad-l-5{padding-left: 5rem;}
.pad-l-53 {padding-left: 53rem;}
.pad-r-19 {padding-right: 19rem;}

.pad-t-6{padding-top: 6rem;}
.pad-b-7{padding-bottom:7rem;}
.pad-l-8{padding-left:8rem;}
.pad-r-9{padding-right:9rem;}

.margin-bottom-1{
  margin-bottom: 1rem;
}



.lt-100p{
  left: 100%;
}

.gap-5 {
  gap: 5rem;
}
.gap-20 {
  gap: 20rem;
}

.fl-r {
  float: right;
  font-size: 11rem;
    margin-top: -10rem;
}


/*top*/
.top-0p{
  top: 0%;
}
.top-50p{
  top: 50%;
}

/*left*/
.left-50p{
  left: 50%;
}

.translateXY-50-50 {
  transform: translate(-50%, -50%);
}
.translateXY-100-100 {
  transform: translate(-100%, -100%);
}

.translateXY-100-30 {
  transform: translate(-100%, -30%);
}





/*special*/
.clamp-three-lines {
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
} 

.outline-0{
  outline: 0;
}

.outline-0-solid-trans{
  outline: 0rem solid transparent;
}

@media (min-width: 1700rem) {
    .container {
        width: 1700rem;
    }
}

@media (max-width: 1699rem) {
    .container {
        width: 100%;
    }
}


/*non atomic*/
.left-pane-border {
    border-right: solid 1rem rgba(134, 150, 160,0.5);;
}

.add-user-button {
  top: 100%;
  transform: translateY(-110%);
}

/*pad-20 */
.confirmation-box-left-button{
  padding: 20rem;
  border-radius: 10rem;
  border: 0;
  background:  rgb(0, 92, 75);
  color: rgba(233, 237, 239, 0.88);

}
.confirmation-box-right-button{
  padding: 20rem;
  border-radius: 10rem;
  border: 0;
  background:  rgb(0, 92, 75);
  color: rgba(233, 237, 239, 0.88);

}

.default-heading {
  margin-top: 38rem;
  font-size: 32rem;
}
.default-body {
  margin-top: 24rem;
  font-size: 14rem;
}

.default-button {
  margin-top: 24rem;
  background-color: rgb(0, 168, 132);
  color: rgb(17, 27, 33);
  border: 0;
  border-radius: 9999rem;
  padding: 10rem 24rem 10rem 24rem;
}